.becomepartner-container {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 1rem;
    justify-content: space-between;
    
  }
.becomepartner{

background: linear-gradient(246.5deg, #000000 34.85%, #D81324 118.68%);
margin-bottom: 3rem;

}
  
  .becomepartner-left {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    gap: 20px;
    background-image: url('../assets/darkarrows.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
  }
  
  .becomepartner-right {
    width: 45%;
    
    
  }
  .becomepartner-image{
    min-height:  420px;
    background-image: url('../assets/becomepartner.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .becomepartner-address2{
    display: none;
    
  }
  .becomepartner-address1{
    
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  /* Responsive for mobile */
  @media (max-width: 768px) {
    .becomepartner{
      margin-top: 3rem;
    }
    .becomepartner-address1{
        display: none;
    }
    .becomepartner-address2{
        display: flex;
    flex-direction: column;
    gap: 20px;
    }
   
    .becomepartner-container {
      flex-direction: column;
    }
  
    .becomepartner-left, 
    .becomepartner-right {
      width: 100%;
    }
    .becomepartner-right {
        display: block;
        
        
        
      }
      .becomepartner-image{
        min-height:  340px;
        background-image: url('../assets/becomepartner.png');
        background-position: bottom;
        background-size: cover;
        
        background-repeat: no-repeat;
      }
      .modal-content {
        background: white;
        padding: 20px;
        border-radius: 10px;
        width: 90% !important;
        padding-left: 2rem !important;
        padding-right: 2rem !important;
        position: relative;
        
      }
      .modal form{
        width: 100% !important;
      }
      .modal{
        align-items: center !important;
      }
  }

  body.modal-open {
    overflow: hidden;
}


  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: start;
    overflow-y: scroll;
  }
  .modal form{
    width: 400px;
    margin: auto;
    margin-top: 1rem;
  }
  .modal form input , .modal form select {
    background-color: rgb(248, 248, 248);
    font-size: 14px;
  }
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 550px;
    padding-left: 3rem;
    padding-right: 3rem;
    position: relative;
    background-image: url(../assets/lightarrows.png);
    background-size: cover;
    background-position: top;
    
    
  }
  
  .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    cursor: pointer;
  }
  
  .logo {
    display: block;
    margin: 0 auto 15px;
    width: 120px;
  }
  
  form input, form select {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
  }

  form select{
    color: rgb(44, 42, 42) !important;
  }
  
  form button {
    width: 100%;
    background: #D81324;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
/* Add this to your CSS */
.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #ffffff;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}